<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pump generator</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
            animation: {
              "fade": "fade 2.5s cubic-bezier(0.4, 0, 0.6, 1);",
            },
            keyframes: {
              fade: {
                "100%": { opacity: 1, margin: '0px'},
                "0%": { opacity: .0, margin: '50px 0px 0px 0px'  },
              },
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <div
      class="min-h-screen min-w-screen overflow-hidden flex"
      style="
        background-image: url(/static/images/photo-1534438327276-14e5300c3a48.avif);
        background-size: cover;
        background-position: center;
      "
    >
      <!-- <nav class="relative flex w-full flex-wrap items-center justify-between bg-[#FBFBFB] py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-cyan-400 lg:py-4">
        <div class="flex w-full flex-wrap items-center justify-between px-3">
          <div class="prose ml-2">
            <h1>PumpGenerator</h1>
          </div>
        </div>
      </nav> -->

      <div class="prose h-fit ml-[5%] mt-[19%]">
        <h1 class="animate-fade text-[#EDFF0C] text-8xl">PumpGenerator</h1>
      </div>

      <div class="ml-[15%] mt-[10%] mr-[1%]">
        <img id="video-frame" class="w-[100%] h-[480px]" src="" alt="Video Frame" />
        <div class="mt-2 flex items-center">
          <label class="relative cursor-pointer">
            <input type="checkbox" id="cameraCheckbox" class="sr-only peer" />
            <div
              class="w-11 h-6 flex items-center bg-gray-300 rounded-full peer peer-checked:after:translate-x-full after:absolute after:left-[2px] peer-checked:after:border-white after:bg-white after:border after:border-gray-300 after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#EDFF0C]">
            </div>
          </label>
          <p class="ml-4 text-sm font-medium text-gray-900 dark:text-gray-300">Open camera</p>
        </div>
      </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
      // Utiliza io.connect y pasa la URL directamente
      var socket = io.connect(
        "http://" + document.domain + ":" + location.port
      );
      var videoFrame = document.getElementById("video-frame");
      videoFrame.src = "/static/images/4600752-200.png";
      var frame_data;
      
      cameraCheckbox.addEventListener('change', function() {

      // Verifica si el checkbox está marcado o desmarcado
      if (this.checked) {
        // Acciones a realizar cuando el checkbox está marcado
        console.log('On');

        socket.emit("camera_function",{ is_enabled: true });
        socket.on("new_frame", function (data) {
          frame_data =
            "data:image/jpeg;base64," +
            btoa(String.fromCharCode.apply(null, new Uint8Array(data.frame)));
          videoFrame.src = frame_data;
        });
      } 
      else {
        // Acciones a realizar cuando el checkbox está desmarcado

        socket.emit("camera_function",{ is_enabled: false });
        socket.removeAllListeners('new_frame'); 
        videoFrame.src = "/static/images/4600752-200.png";
        console.log('Off');
      }
    });


    </script>
  </body>
</html>
